<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>18/10/28 15:30:30</td>   <td>0</td> <td title="&lt;&lt;ProjectMethodsPOM.afterSuite()[pri:0, instance:testCase.TC001Login_Logout@52a86356]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 15:30:22</td>   <td>-8219</td> <td title="&gt;&gt;ProjectMethodsPOM.beforeSuite()[pri:0, instance:testCase.TC001Login_Logout@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 15:30:30</td>   <td>-172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsPOM.closeApp()[pri:0, instance:testCase.TC001Login_Logout@52a86356]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 15:30:23</td>   <td>-7645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsPOM.login()[pri:0, instance:testCase.TC001Login_Logout@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 15:30:28</td>   <td>-1969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001Login_Logout.login(java.lang.String, java.lang.String)[pri:0, instance:testCase.TC001Login_Logout@52a86356]">login</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 15:30:22</td>   <td>-8070</td> <td>&nbsp;</td><td title="&gt;&gt;TC001Login_Logout.setData()[pri:0, instance:testCase.TC001Login_Logout@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
